<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OutstockDetail">

	<resultMap type="OutstockDetail" id="outstockDetailMap">
		<id column="id" property="id" />
			<result column="outstock_row_no" property="outstock_row_no"/>
        	<result column="outstock_head" property="outstock_head"/>
			<result column="order_detail" property="order_detail"/>
			<result column="material" property="material"/>
			<result column="packing" property="packing"/>
			<result column="main_price" property="main_price"/>
			<result column="main_quantity" property="main_quantity"/>
			<result column="secondary_price" property="secondary_price"/>
			<result column="secondary_quantity" property="secondary_quantity"/>
			<result column="remark" property="remark"/>
			<result column="name" property="name"/>
			<result column="conversion" property="conversion"/>
			<result column="unit" property="unit"/>
			<result column="unit_help" property="unit_help"/>
			<result column="spec" property="spec"/>
			<result column="main_residue" property="main_residue"/>
			<result column="main_in_outstock" property="main_in_outstock"/>
			<result column="residue" property="residue"/>
			<result column="in_outstock" property="in_outstock"/>
			<result column="stock" property="stock"/>
	</resultMap>
	
	<!-- 根据主表id删除 -->
	<delete id="deleteDetalsByHeadId" parameterType="String">
	 	delete from b_outstock_detail where outstock_head = #{outstock_head}
	</delete>
	
	<!-- 批量插入数据 -->
	<insert id="bathInsert" parameterType="java.util.List" useGeneratedKeys="false">
		insert into b_outstock_detail
        	(id,outstock_row_no,outstock_head,order_detail,material,packing,main_quantity,secondary_quantity,remark)
        	select a.* from (
        <foreach collection="list" item="item" index="index" separator="union all">  
           select 
            #{item.id} id,
            #{item.outstock_row_no} outstock_row_no,
            #{item.outstock_head} outstock_head,
            #{item.order_detail} order_detail,
            #{item.material} material,
            #{item.packing} packing,
            #{item.main_quantity} main_quantity,
            #{item.secondary_quantity,jdbcType=NUMERIC} secondary_quantity,
            #{item.remark} remark
           from dual
        </foreach>  
        ) a
	</insert>
</mapper>