<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TenderFrameDetail">

	<resultMap type="TenderFrameDetail" id="tenderFrameDetailMap">
		<id column="id" property="id" />
		<result column="tenderFrameDetail_row_no" property="tenderFrameDetail_row_no" />
		<result column="tender_frame" property="tender_frame" />
		<result column="material" property="material" />
		<result column="main_Price" property="main_Price" />
		<result column="secondary_Price" property="secondary_Price" />
	</resultMap>
	
	<sql id="all"> t.id,t.tenderFrameDetail_row_no,t.tender_frame,t.material,t.main_Price,t.secondary_Price</sql>
	
	<insert id="insert" parameterType="TenderFrameDetail">
		INSERT INTO b_tender_frame_detail
		(id,tenderFrameDetail_row_no,tender_frame,material,main_Price,secondary_Price) 
		VALUES
		(#{id},#{tenderFrameDetail_row_no},#{tender_frame},#{material},#{main_Price},#{secondary_Price})
	</insert>
	<delete id="delete" parameterType="String">
		 delete from b_tender_frame_detail where tender_frame=#{id}
	</delete>
	<!-- 设置中标价格 -->
	<update id="updatePrice" parameterType="map">
		update b_tender_frame_detail set main_Price = #{main_Price}
		<if test="secondary_Price != null and secondary_Price != ''">,secondary_Price=#{secondary_Price}</if>
		where tender_frame=#{id} and Material=#{material}
	</update>
	<!-- 查找ID-->
	<select id="selectID"  parameterType="map" resultMap="tenderFrameDetailMap">
	select tfd.* 
	from b_tender_frame_detail tfd
	where tfd.tender_frame=#{tender_frame} and tfd.material=#{material}
	</select>
	<!-- 查找物资信息-->
	<select id="selectMaterial"  parameterType="String" resultMap="tenderFrameDetailMap">
	select tfd.* 
	from b_tender_frame_detail tfd
	where tfd.tender_frame=#{tender_frame}
	</select>
	
</mapper>