<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IntermediateSupplier">
	<resultMap type="IntermediateSupplier" id="intermediateSupplierMap">
		<id column="TEMP_ID" property="temp_id"/>
		<result column="SUPPLIER_NO" property="supplier_no"/>
		<result column="SUPPLIER_NAME" property="supplier_name"/>
		<result column="LEGAL_PERSON" property="legal_person"/>
		<result column="PROVINCE" property="province"/>
		<result column="ADDRESS" property="address"/>
		<result column="FAX" property="fax"/>
		<result column="EMAIL" property="email"/>
		<result column="LINKMAN" property="linkman"/>
		<result column="POST" property="post"/>
		<result column="TEL" property="tel"/>
		<result column="FINANCIAL_CONTACT" property="financial_contact"/>
		<result column="FINANCIAL_TEL" property="financial_tel"/>
		<result column="FINANCIAL_EMAIL" property="financial_email"/>
		<result column="OPENING_BANK" property="opening_bank"/>
		<result column="SOCIAL_CREDIT_CODE" property="social_credit_code"/>
		<result column="QUALITY_SYSTEM" property="quality_system"/>
		<result column="HYGIENE_LICENSE" property="hygiene_license"/>
		<result column="FOOD_CIRCULATION_LICENSE" property="food_circulation_license"/>
		<result column="SUPPLIER_TYPE" property="supplier_type"/>
		<result column="STATE" property="state"/>
		<result column="BRIEF_INTRODUCTION" property="brief_introduction"/>
		<result column="REMARK" property="remark"/>
		<result column="BANK_ACCOUNT_NUMBER" property="bank_account_number"/>
		<!--  -->
		<result column="ID" property="id"/>
		<result column="YEAR" property="year"/>
		<result column="SCORE" property="score"/>
	</resultMap>
	<sql id="all">
		a.temp_id,a.supplier_no,a.supplier_name,a.legal_person,a.province,a.address,
		a.fax,a.email,a.linkman,a.post,a.tel,a.financial_contact,a.financial_tel,a.financial_email,a.opening_bank,
		a.social_credit_code,a.quality_system,a.hygiene_license,a.food_circulation_license,a.food_circulation_license,
		a.supplier_type,a.state,a.brief_introduction,a.remark,a.bank_account_number,
		a.id,a.year,a.score
	</sql>
	<!-- 根据id查找供应商 -->
	<select id="selectByPk" resultMap="intermediateSupplierMap" parameterType="String">
		select <include refid="all"/> from intermediate_supplier a 
		where  a.id = #{id}
	</select>
	<!-- 新增 -->
	<insert id="insert" parameterType="IntermediateSupplier">
		insert into intermediate_supplier 
		(temp_id,supplier_no,supplier_name,legal_person,province,address,fax,email,linkman,post,
		tel,financial_contact,financial_tel,financial_email,opening_bank,social_credit_code,
		quality_system,hygiene_license,food_circulation_license,supplier_type,state,bank_account_number,
		brief_introduction,remark,id,year,score)
		 VALUES
		(#{temp_id},#{supplier_no},#{supplier_name},#{legal_person},#{province},#{address},#{fax},#{email},#{linkman},#{post},
		#{tel},#{financial_contact},#{financial_tel},#{financial_email},#{opening_bank},#{social_credit_code},
		#{quality_system},#{hygiene_license},#{food_circulation_license},#{supplier_type},
		#{state},#{bank_account_number},#{brief_introduction},#{remark},#{id},#{year},#{score})
	</insert>
	<!-- 删除中间表 -->	
	<delete id="delete" parameterType="String">
        delete from intermediate_supplier where temp_id=#{temp_id}
    </delete>
</mapper>