<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Direct">

	<resultMap type="Direct" id="directMap">
		<id column="id" property="id" />
		<result column="direct_no" property="direct_no" />
		<result column="entry_date" property="entry_date" />
		<result column="user_id" property="user_id" />
		<result column="order_frame" property="order_frame" />
		<result column="state" property="state" />
		<result column="supplier_name" property="supplier_name" />
		<result column="user_name" property="user_name" />
		<result column="order_no" property="order_no" />
		<result column="contract_no" property="contract_no" />
		<result column="frame_no" property="frame_no" />
		<result column="frame_id" property="frame_id" />
		<result column="contract_id" property="contract_id" />
		
		<result column="main_totalAmount" property="main_totalAmount" />
		
		<result column="department" property="department" />
		<result column="department_name" property="department_name" />
		<collection column="ID" property="directDetailList" ofType="DirectDetail">
        	<id column="sid" property="id"/>
        	<result column="direct_row_no" property="direct_row_no"/>
        	<result column="direct_head" property="direct_head"/>
			<result column="order_detail" property="order_detail"/>
			<result column="material" property="material"/>
			<result column="packing" property="packing"/>
			<result column="main_price" property="main_price"/>
			<result column="main_quantity" property="main_quantity"/>
			<result column="secondary_price" property="secondary_price"/>
			<result column="secondary_quantity" property="secondary_quantity"/>
			<result column="remark" property="remark"/>
			<result column="residue" property="residue"/>
			<result column="in_storage" property="in_storage"/>
			<result column="main_residue" property="main_residue"/>
			<result column="main_in_storage" property="main_in_storage"/>
			<result column="name" property="name"/>
			<result column="conversion" property="conversion"/>
			<result column="unit" property="unit"/>
			<result column="unit_help" property="unit_help"/>
			<result column="spec" property="spec"/>
			
			<result column="budget_plan_detail" property="budget_plan_detail"/>
        </collection> 
	</resultMap>
	
	<!-- 分页模糊查询 -->
	<select id="selectByCondition" resultMap="directMap" parameterType="map">
		select * from (
		select sh.*,ROW_NUMBER() OVER (order by direct_no ) r 
		from  B_DIRECT_HEAD sh
		<where>
			<if test="direct.direct_no != null and direct.direct_no != ''">and sh.direct_no=#{direct.direct_no}</if>
			<if test="direct.state != null and direct.state != ''">and  sh.state= #{direct.state}</if>
			<if test="direct.entry_date_begin != null and direct.entry_date_begin != ''"> and sh.entry_date &gt;=to_date(#{direct.entry_date_begin},'yyyy-mm-dd')</if>
			<if test="direct.entry_date_end != null and direct.entry_date_end != ''"> and sh.entry_date &lt;=to_date(#{direct.entry_date_end},'yyyy-mm-dd') </if>
		</where>
		)s
		<if test="page!= null">
			where s.r
			between (#{page.totalCount}-#{page.pageNow}*#{page.pageSize}+1)
			and (#{page.totalCount}-(#{page.pageNow}-1)*#{page.pageSize})
		</if>
		order by direct_no desc 
	</select>
	
	<!-- 查询记录数 -->
	<select id="countParam" resultType="int" parameterType="map">
		select count(*) from B_DIRECT_HEAD sh
		<where>
			<if test="direct.direct_no != null and direct.direct_no != ''">and sh.direct_no=#{direct.direct_no}</if>
			<if test="direct.state != null and direct.state != ''">and  sh.state= #{direct.state}</if>
			<if test="direct.entry_date_begin != null and direct.entry_date_begin != ''"> and sh.entry_date &gt;=to_date(#{direct.entry_date_begin},'yyyy-mm-dd')</if>
			<if test="direct.entry_date_end != null and direct.entry_date_end != ''"> and sh.entry_date &lt;=to_date(#{direct.entry_date_end},'yyyy-mm-dd') </if>
		</where>
	</select>	
	
	<!-- 查看  -->
	<select id="view" parameterType="String" resultMap="directMap">
		select sh.id, sh.direct_no, sh.entry_date, sh.user_id, sh.order_frame, sh.state,sh.department, sh.main_totalAmount,c.company_name department_name,
		s.supplier_name,  oh.order_no, ui.realname user_name, fh.frame_no, pch.contract_no,
		sd.direct_row_no, sd.direct_head, sd.material, sd.order_detail, sd.packing, sd.remark, sd.main_price, sd.main_quantity, sd.secondary_price, sd.secondary_quantity, sd.id sid
		,m.name, y.dic_name unit,yy.dic_name unit_help, m.conversion, m.spec,od.budget_plan_detail,od.already_secondary_quantity in_storage,(od.secondary_quantity-od.already_secondary_quantity) residue,
		od.already_main_quantity main_in_storage,(od.main_quantity-od.already_main_quantity) main_residue,
		oh.contract_id,oh.frame_id 
		from B_DIRECT_HEAD sh
		inner join B_DIRECT_DETAIL sd on sh.id=sd.direct_head
		inner join sys_user u on u.user_id=sh.user_id
		inner join sys_userinfo ui on ui.user_id=u.user_id
		inner join b_order_head oh on oh.id=sh.order_frame
    	inner join b_order_detail od on od.id=sd.order_detail
		inner join base_supplier s on s.id=oh.supplier_id
		left join b_purchase_contract_head pch on pch.id=oh.contract_id
		left join b_frame_head fh on fh.id=oh.frame_id
		inner join base_material m on  m.id = sd.material
		inner join sys_dictionary y on  m.unit = y.dic_code
		left join sys_dictionary yy on  m.unit_help = yy.dic_code
		
        inner join sys_company c on c.company_id=sh.department 
		<where>
			sh.id = #{id}
		</where>
			order by sd.direct_row_no
	</select>
	
	<!-- 提交 -->
	<update id="submit" parameterType="Direct">
		update B_DIRECT_HEAD set state = #{state}
		where id=#{id} 
	</update>
	
	<!-- 更新主表(删除用) -->
	<update id="update" parameterType="Direct">
		update B_DIRECT_HEAD set
		order_frame = #{order_frame},
		entry_date = #{entry_date},
		department = #{department},
		main_totalAmount = #{main_totalAmount}
		where id = #{id}
	</update>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="Direct">
		insert into B_DIRECT_HEAD
		(id,direct_no,entry_date,user_id,order_frame,state,department,main_totalAmount)
		values
		(#{id},#{direct_no},#{entry_date},#{user_id},#{order_frame},#{state},#{department},#{main_totalAmount})
	</insert>
	
	<!-- 通过截取单据号的年月来查询单据 -->
	<select id="selectDirectNo" parameterType="String" resultType="int">
	select count(*) from B_DIRECT_HEAD where direct_no like #{yearMon} || '%'
	</select>
</mapper>