<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserRole">
	<resultMap type="UserRole" id="userRoleMap">
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
		<result column="role_name" property="roleName"/>
		<result column="work_Email" property="workEmail"/>
	</resultMap>
	<!-- 根据id获取用户角色信息 -->  
	<select id="selectUserRoleByUserId" parameterType="string" resultMap="userRoleMap">
		select ur.user_id,ur.role_id,r.role_name
		from sys_user_role ur inner join sys_role r on ur.role_id = r.role_id 
		where ur.user_id = #{userId}
	</select>
	<!-- 删除用户角色 --> 
	<delete id="delete" parameterType="string">	
		delete from sys_user_role where user_id = #{userId}
	</delete> 
	<!-- 插入用户角色 --> 
	<insert id="insert" parameterType="UserRole">
		insert into sys_user_role  (
			user_id,role_id
		) values (
			#{userId},#{roleId}
		)
	</insert>
	
	<select id="selectByCondition" resultMap="userRoleMap" parameterType="map">
		select ur.*,r.role_name from sys_user_role  ur 
		left join sys_role r on ur.role_id = r.role_id
		where ur.user_id = #{user_id}
	</select>
	
<!-- ***************************************************邮件提醒******************************************************	 -->
	<select id="selectUserRoleByRoleId" resultMap="userRoleMap">
		SELECT userInfo.workemail as work_Email  FROM sys_user_role   useRole  inner JOIN sys_userinfo  userInfo
 		on useRole.user_id = userInfo.user_id 
 		<where>
 			useRole.role_id=#{roleId}
 		</where>
	</select>
	<select id="selectByRoleName" parameterType="map" resultType="int">
		select COUNT(1) FROM sys_user_role
		where user_id=#{userId}
		AND role_id = (SELECT TOP 1 sys_role.role_id FROM sys_role where role_name=#{roleName})
	</select>
<!-- **************************************************角色操作************************************************************* -->
	<select id="selectUserByRole" resultMap="userRoleMap" parameterType="string">
		select user_id from sys_user_role 
		<where>
			role_id=#{roleId}
		</where>
	
	</select>

	
</mapper>