<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TenderFrameOfferHead">

	 <resultMap type="TenderFrameOfferHead" id="tenderFrameOfferHeadMap">
		<id column="id" property="id" />
		<result column="tender_frame" property="tender_frame" />
		<result column="supplier" property="supplier" />
		<result column="tender_frame_supplier" property="tender_frame_supplier" />
		<result column="file_id" property="file_id" />
	</resultMap>
	<!-- 中标  -->
	<resultMap type="TenderFrameOfferHead" id="tenderFrameOfferHeadsMap">
		<id column="id" property="id" />
		<result column="tender_frame" property="tender_frame" />
		<result column="supplier" property="supplier" />
		<result column="tender_frame_supplier" property="tender_frame_supplier" />
		<result column="file_id" property="file_id" />
		<collection property="tenderFrameOfferDetailList" ofType="TenderFrameOfferDetail">
			<id column="tdid" property="id" />
			<result column="tender_detail" property="tender_detail" />
			<result column="frame_Offer_head" property="frame_Offer_head" />
			<result column="material" property="material" />
			<result column="main_Price" property="main_Price" />
			<result column="secondary_Price" property="secondary_Price" />
		</collection>
	</resultMap>
	
	<sql id="all">t.id,t.tender_frame,t.supplier,t.tender_frame_supplier,t.file_id</sql>
	
	<!-- 检查是否已经上传报价  -->
	<select id="checkPrice" parameterType="String" resultMap="tenderFrameOfferHeadMap">
		select supplier from b_tender_frame_offer_head
		where tender_frame=#{id}
	</select>
	<!-- 中标  -->
	<select id="selectMaterialAndPrice" parameterType="map" resultMap="tenderFrameOfferHeadsMap">
		select tfod.material,tfod.main_Price,tfod.secondary_Price from b_tender_frame_offer_head tfoh
		inner join b_tender_frame_offer_detail tfod on tfoh.id=tfod.frame_offer_head
		where tender_frame=#{id} and supplier=#{supplier}
	</select>
	<!-- 插入主表 -->
	<insert id="insert" parameterType="TenderFrameOfferHead">
		INSERT INTO b_tender_frame_offer_head
		(id,tender_frame,supplier,tender_frame_supplier,file_id) 
		VALUES
		(#{id},#{tender_frame},#{supplier},#{tender_frame_supplier},#{file_id})
	</insert>
	<!-- 上传报价时检查是否是第一次上传报价  -->
	<select id="selectByTenderAndSupplier" parameterType="map" resultMap="tenderFrameOfferHeadMap">
		select * from b_tender_frame_offer_head
		where tender_frame=#{tender_frame} and supplier=#{supplier} and tender_frame_supplier=#{tender_frame_supplier} 
	</select>
	<!-- 上传报价时删除第一次上传的报价信息  -->
	<select id="deleteByTenderAndSupplier" parameterType="map">
		delete from b_tender_frame_offer_head where tender_frame=#{tender_frame} and supplier=#{supplier} and tender_frame_supplier=#{tender_frame_supplier}
	</select>
</mapper>